.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.footer a{
    position: relative;
    left: 30px;
    text-decoration: none;
    color: inherit;
}
.footer a:hover{
    color: goldenrod;
    transform: scale(1.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}